.results {
  display: flex;
  justify-content: center;
  .fact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px;
    text-align: center;
  }
}
.brands {
  .brand-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
    width: 200px;
    height: 100%;
    padding: 20px;
    }
  }
}

.quote {
  padding: 15px 0;
  font-size: 21px;
  line-height: 28px;
  background-color: $secondaryAccent;
  color: $smokeGrey;
  .text-label {
    color: $smokeGrey;
  }
  .title-container {
    padding-bottom: 10px;
  }
}

@media (max-width: 568px) {
.results {
  flex-direction: column;
  .fact-info {
    margin: 40px 0;
  }
  }
}